.fader-enter {
    opacity: 0.01;
}
.fader-enter.fader-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.fader-appear {
    opacity: 0.01;
}
.fader-appear.fader-appear-active {
    opacity: 1;
    transition: opacity .3s ease-in;
}
.fader-leave {
    opacity: 1;
}
.fader-leave.fader-leave-active {
    opacity: 0.01;
    transition: opacity 600ms ease-in;
}